*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "MartianMono", monospace;
  color: $black;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: $white;
}

#root {
  min-width: 300px;
  padding: 40px 10px;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

