.not-found {
  width: max-content;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  background-color: $gray;
  border-radius: 15px;
}

