.task-item {
  position: relative;
  border-left: 5px solid;
  border-radius: 0 15px 15px 0;

  &--work {
    border-color: $red;
  }

  &--life {
    border-color: $green;
  }

  &--other {
    border-color: $blue;
  }

  &--done {
    opacity: 0.3;
  }
}

.task {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  &__text {
    overflow-y: auto;
    scrollbar-width: thin;
    overscroll-behavior: contain;
    grid-column: span 3;
    margin: 0;
  }

  &__input-task {
    resize: vertical;
    grid-column: span 2;
  }
}

.task-text {
  white-space: pre-wrap;
  word-break: break-word;
}

@media (width < 620px) {
  .task {
    &__input-task {
      grid-column: span 3;
    }

    &__type-selector {
      grid-column: span 3;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

