@keyframes showToast {
  from {
    transform: translateY(-500px) translateX(-50%);
  }
  to {
    transform: translateY(0) translateX(-50%);
  }
}

.toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($white, 0.7);
  z-index: 999;
  pointer-events: all;

  &__wrapper {
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 90%;
    max-width: 650px;
    min-height: 100px;
    height: max-content;
    overflow: hidden;
    padding: 10px 50px;
    animation: showToast 250ms linear;
    border: 2px solid $yellow;
    border-radius: 5px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__message {
    margin: 0;
    color: $black;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  &__button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid $yellow;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 75%;
      background-color: $black;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:focus-visible,
    &:hover {
      border-color: $black;
    }

    &:disabled {
      opacity: 0.3;
      border-color: $black;
      cursor: default;
    }
  }
}

